.header {
  width: 1160px;       
  height: 51px;         
  margin: 24px auto 0;  
  background-color: #fff; 
  border-radius: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
  opacity: 1;
}